<!--Container -->
<div class="mx-auto bg-grey-400">
    <!--Screen-->
    <div class="min-h-screen flex flex-col">
        <!--Header Section Starts Here-->
         <app-menu></app-menu>
        <!--/Header-->

        <div class="flex:150">

            <app-sidebar></app-sidebar>
            <!--/Sidebar-->

            <!--Main-->
            <app-contentadmin></app-contentadmin>
            <!--/Main-->
        </div>
        <!--Footer-->
            <app-footeradmin></app-footeradmin>
        <!--/footer-->
    </div>
</div>